.card_container {
    margin: 5px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    width: 70px;
    height: 95px;
    position: relative;
}

.card_empty {
}
.card_back {
    background: url('img/deck.png');
    background-size: 100% 100%;
}
.card_front {
    background: white;
}

.highlight_non_vote {
    background: #ccf;
}

.highlight_extreme_vote {
    background: #fcc;
}

.card_text {
    width: 100%;
    position: absolute;
    top: 10px;
    text-align: center;
    color: black;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.card_name {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    background-color: darkred;
    color: white;
    display: inline-block;
    overflow: hidden;
    height: 20px;
    word-break: break-all;
}
