body {
    background: -webkit-radial-gradient(#177715, #0E4905); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#177715, #0E4905); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#177715, #0E4905); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#177715, #0E4905); /* Standard syntax */
}

h1 {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.vcenter {
    margin-left: auto;
    margin-right: auto;
}

.hcenter {
    top: 45%;
}

.content {
    min-height: 100%;
    height: auto !important;
    height: 100% !important;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    padding-top: 0px !important;
}
