.welcome_container {
    background-color: #ccf;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    width: 330px;
    height: 250px;
}

.welcome_container button {
    margin-bottom: 10px;
}

.room_clear {
    right: 0px;
    bottom: 0px;
    position: absolute;
}
