<template name="welcome">
    <h1>
        Welcome to Supp!
    </h1>

    <div class="vcenter hcenter welcome_container">
        <div>
            What are you?
        </div>
        <button class="user_type {{#if user_type 'scrum_master'}}selected{{/if}}" data-user_type="scrum_master">Scrum Masta'</button>
        <button class="user_type {{#if user_type 'resource'}}selected{{/if}}" data-user_type="resource">Re$ource</button>

        <div>
            {{#if user_type}}
                {{#if user_type 'resource'}}
                    <input type="text" name="name" placeholder="Who are you?" value="{{persistent_session 'name'}}"/><br/>
                {{/if}}
                <input type="text" name="room" placeholder="What room do you want?" value="{{persistent_session 'room'}}"/><br/>
                <button class="go">Join</button>
            {{/if}}
        </div>
    </div>
</template>
