<template name="welcome">
    <h1>
        Supp, fool!
    </h1>

    <div class="form-group vcenter hcenter welcome_container">
        <div>
            What are you?
        </div>
        <button class="user_type btn btn-lg btn-primary {{#if user_type 'scrum_master'}}active{{/if}}" data-user_type="scrum_master">Scrum Masta'</button>
        <button class="user_type btn btn-lg btn-primary {{#if user_type 'resource'}}active{{/if}}" data-user_type="resource">Re$ource</button>

        <div>
            {{#if user_type}}
                {{#if user_type 'resource'}}
                    <input type="text" class="form-control" name="user" placeholder="Who are you?" value="{{persistent_session 'user'}}"/><br/>
                {{/if}}
                <input type="text" class="form-control" name="room" placeholder="What room do you want?" value="{{persistent_session 'room'}}"/><br/>
                <button class="go btn btn-lg btn-success">Join</button>
            {{/if}}
        </div>
    </div>

    <button class="btn btn-danger room_clear">
        Clear All Rooms
    </button>
</template>
