<template name="welcome">
    <h1>
        Supp, fool!
    </h1>

    <div class="form-group vcenter hcenter welcome_container">
        <button class="user_type btn btn-lg btn-primary {{#if user_type 'scrum_master'}}active{{/if}}" data-user_type="scrum_master">Scrum Masta'</button>
        <button class="user_type btn btn-lg btn-primary {{#if user_type 'resource'}}active{{/if}}" data-user_type="resource">Re$ource</button>

        {{#if user_type 'resource'}}
            <span>
                {{#if rooms}}
                    <select class="form-control" name="room">
                        {{#each rooms}}
                            <option {{room_selected _id}}>{{_id}}</option>
                        {{/each}}
                    </select>
                    {{init_select2}}
                    <input type="text" class="form-control" name="user" placeholder="Who are you?" value="{{persistent_session 'user'}}"/><br/>
                    <button class="go btn btn-lg btn-success">Join</button>
                {{else}}
                    <span class="help-block">
                        Sorry, there are no rooms yet!<br/>
                        A scrum master must create a room before you can join.
                    </span>
                {{/if}}
            </span>
        {{/if}}

        {{#if user_type 'scrum_master'}}
            <span>
                <select class="form-control" name="room" data-tags="true">
                    {{#each rooms}}
                        <option {{room_selected _id}}>{{_id}}</option>
                    {{/each}}
                </select>
                {{init_select2}}

                <button class="go btn btn-lg btn-success">Join</button>
            </span>
        {{/if}}
    </div>

    <button class="btn btn-danger room_clear">
        Clear All Rooms
    </button>
</template>
