.red {
    color: red;
}

.green {
    color: green;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.card {
    margin-left: 10px;
    margin-top: 10px;
}

.user_card {
    float: left;
}

.card_table {
    width: 265px;
    height: 454px;
    background: -webkit-radial-gradient(#177715, #0E4905); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#177715, #0E4905); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#177715, #0E4905); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#177715, #0E4905); /* Standard syntax */
    padding-bottom: 10px;
    margin-left: 10px;
    overflow: hidden;
}

.user_name_on_card{
    float: left;
    height: 10px;
    width: 100%;
    position: relative;
    top: 10px;
    left: 5px;
    z-index: 100;
    text-align: center;
    background-color: darkred;
}

#push, #footer {
    height: 80px;
}

#footer {
    background-color: #f5f5f5;
}

.scrum_master_container {
    min-height: 100%;
    height: auto !important;
    height: 100% !important;
    /* Negative indent footer by it's height */
    margin: 0 auto -80px;
}