<template name="scrum_master">
    <div class="container">
        <h1>{{room_name}}</h1>
        <div>
        {{#each room_users}}
            <img src="img/deck.png" class="card"/>
            <!--<span class="glyphicon glyphicon-user {{#if vote}}green{{else}}red{{/if}}" aria-hidden="true"></span> {{name}} {{#if vote}}({{vote}}){{/if}}-->
        {{/each}}
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                   aria-valuenow="{{status_percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{status_percentage}}%">
              </div>
            </div>
            <div>
                <button class="reset_votes btn btn-danger">Reset users</button>
                <button class="clear_room btn btn-danger">Clear room</button>
            </div>
        </div>
    </div>
</template>