.red {
    color: red;
}

.green {
    color: green;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

#push, #footer {
    height: 80px;
}

#footer {
    background-color: #f5f5f5;
}

.scrum_master_container {
    min-height: 100%;
    height: auto !important;
    height: 100% !important;
    /* Negative indent footer by it's height */
    margin: 0 auto -80px;
}

/* Trying to do cards without SVG */
/*
.card_container {
    display: inline-block;
    border: 1px solid white;
    border-radius: 3px;
    width: 70px;
    height: 95px;
}
.card_empty {
}
.card_back {
    background: url('img/deck.png');
    background-size: 100% 100%;
}
.card_front {
    background: white;
}

.card_name {
    width: 100%;
    position: relative;
    bottom: 10px;
    text-align: center;
    background-color: darkred;
    color: white;
    display: inline-block;
}
*/
