<template name="scrum_master">
    <div class="scrum_master_container">
        <h1>{{room_name}}</h1>
        <div>
            {{#each room_users}}
                <span class="card card_container {{card_state vote}}">
                    {{#if voting_done}}
                        <span class="card_text">{{vote}}</span>
                    {{/if}}
                    <span class="card_name">{{name}}</span>
                </span>
            {{/each}}
        </div>
        <br/>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div>
            <div class="progress">
                {{#if voting_done}}
                    <div> Average: {{average}} </div>
                {{else}}
                    <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                           aria-valuenow="{{status_percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{status_percentage}}%">
                    </div>
                {{/if}}
            </div>
            <div>
                <button class="reset_votes btn btn-danger">Reset votes</button>
                <button class="clear_room btn btn-danger">Clear room</button>
            </div>
        </div>
    </div>
</template>
